<html>
    <head>
        <title>ThaanAquatics | <%= item.Name %></title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Patrick Hand" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
        <script src="/assets/js/script.js" defer></script>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="nav">
            <div id="left">
                <a href="/">
                    <img src="/assets/img/logo.png" alt="TA" id="logo">
                </a>
            </div>
            <div id="center"></div>
            <div id="right">
                <div class="search-container">
                    <form action="/search" method="get">
                      <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
                      <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
                    </form>
                </div>
                <a href="/account">
                    <img src="/assets/img/account-img.png" alt="Account">
                </a>
                <a href="/cart">
                    <img src="/assets/img/cart-img.png" alt="Cart">
                </a>
            </div>
        </div>

        <div class="container">
            <div class="sidebar">
                    <div class="dropdown">
                        <a>Catfish</a>
                        <div class="dropdown-content">
                            <a href="/products/Corydoras">Corydoras</a>
                            <a href="/products/Plecostomus">Plecostomus</a>
                        </div>
                    </div>
                    <a href="/products/Livebearers">Guppies</a>
                    <a href="/products/Livebearers">Mollies</a>
                    <a href="/products/Bettas">Bettas</a>
                    <a href="/products/Feeders and Inverts">Feeders</a>
                    <a href="/products/Plants">Plants</a>
            </div>
            
            <div class="gallery">
                <div class="breadcrumbs">
                    <a href="/">Home</a> > <a href="/products/<%= item.Category %>"><%= item.Category %></a> > <a id="no-underline"><%= item.Name %></a>
                </div>

                <div class="item-content">
                    <!-- Item image -->
                    <div class="images">
                        <% photos.forEach(function(photoPath) { %>
                            <img src="<%= photoPath %>" alt="<%= item.Name %>">
                        <% }); %>
                    </div>

                    <!-- Item details -->
                    <div class="item-details">
                        <h1><%= item.Name %></h1>
                        <p><%= item.Description %></p>
                        <h2>Price: $<%= item.Price %></h2>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>